.site-label{
display:flex;
flex-direction: row;
align-items: center;
justify-content: center;
position:relative;
}

.site-label svg{
position:absolute;
left:0;
top:0;
bottom:0;
right:0;
}

.site-label p{
text-align: center;
color:#1d1d1d;
font-size:1em;
font-weight: 600;
position:relative;
margin:5px 10px;
}
