.section-card{
    display:flex;
    flex-direction: column;
    background-color: #1D1D1D;
    margin-bottom:1em;
    justify-content: space-between;
}
.section-card img{
    width:90%;
}
.section-card div{
        flex:1;
display:flex;
justify-content: center;
align-items: center;
}

.section-card p{
    margin:1em;
    color:#c0c0c0;
    font-weight:700;
    text-align: center;
    font-size:large;
    letter-spacing: 1px;
}